<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hannah.machinelearn">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".One_WorldOne" />
        <activity android:name=".Main_WorldSelection" />
        <activity android:name=".One_ResultOfImage" />
        <activity android:name=".One_LemonTree" />
        <activity android:name=".One_TakePhoto" />
        <activity android:name=".One_OrangeTree" />
        <activity android:name=".One_LemonTree$AppleTree" />
        <activity android:name=".One_PearTree" />
        <activity android:name=".One_Lemon_LemonResult" />
        <activity android:name=".One_Lemon_GiveLemonToKing" />
        <activity android:name=".One_AppleTree" />
        <activity android:name=".Two_WorldTwo" />
        <activity android:name=".Two_EggSmashed" />
        <activity android:name=".Three_WorldThree" />
        <activity android:name=".Four_ClassificationQuizOne" />
        <activity android:name=".Five_GuessThePose" />
        <activity android:name=".Four_ClassificationQuizTwo" />
        <activity android:name=".Four_ClassificationQuizThree" />
        <activity android:name=".Four_ClassificationQuizFour" />
        <activity android:name=".Four_ClassificationQuizFive" />
        <activity android:name=".Three_GoodTurnipOne" />
        <activity android:name=".Three_BadTurnipOne" />
        <activity android:name=".Three_BadTurnipTwo" />
        <activity android:name=".Three_TakePhoto" />
        <activity android:name=".Three_ResultOfImage" />
        <activity android:name=".Three_CollectTrainingData" />
        <activity android:name=".Three_GiveTurnipToComputer" />
        <activity android:name=".Two_GoodEgg" />
        <activity android:name=".Two_TakePhoto" />
        <activity android:name=".Two_ResultOfImage" />
        <activity android:name=".Two_CollectTrainingData" />
        <activity android:name=".Two_GiveEggToComputer"></activity>
    </application>

</manifest>