<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hannah.machinelearn">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WorldOneCollectLemon.One_WorldOne" />
        <activity android:name=".WorldOneCollectLemon.One_ResultOfImage" />
        <activity android:name=".WorldOneCollectLemon.One_LemonTree" />
        <activity android:name=".WorldOneCollectLemon.One_TakePhoto" />
        <activity android:name=".WorldOneCollectLemon.One_OrangeTree" />
        <activity android:name=".WorldOneCollectLemon.One_LemonTree$AppleTree" />
        <activity android:name=".WorldOneCollectLemon.One_PearTree" />
        <activity android:name=".WorldOneCollectLemon.One_Lemon_LemonResult" />
        <activity android:name=".WorldOneCollectLemon.One_Lemon_GiveLemonToKing" />
        <activity android:name=".WorldOneCollectLemon.One_AppleTree" />
        <activity android:name=".WorldTwoCollectEgg.Two_WorldTwo" />
        <activity android:name=".WorldTwoCollectEgg.Two_EggSmashed" />
        <activity android:name=".WorldThreeCollectTurnip.Three_WorldThree" />
        <activity android:name=".GuessThePose.Five_GuessThePose" />
        <activity android:name=".WorldThreeCollectTurnip.Three_GoodTurnipOne" />
        <activity android:name=".WorldThreeCollectTurnip.Three_BadTurnipOne" />
        <activity android:name=".WorldThreeCollectTurnip.Three_BadTurnipTwo" />
        <activity android:name=".WorldThreeCollectTurnip.Three_TakePhoto" />
        <activity android:name=".WorldThreeCollectTurnip.Three_ResultOfImage" />
        <activity android:name=".WorldThreeCollectTurnip.Three_CollectTrainingData" />
        <activity android:name=".WorldThreeCollectTurnip.Three_GiveTurnipToComputer" />
        <activity android:name=".WorldTwoCollectEgg.Two_GoodEgg" />
        <activity android:name=".WorldTwoCollectEgg.Two_TakePhoto" />
        <activity android:name=".WorldTwoCollectEgg.Two_ResultOfImage" />
        <activity android:name=".WorldTwoCollectEgg.Two_CollectTrainingData" />
        <activity android:name=".WorldTwoCollectEgg.Two_GiveEggToComputer" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".GuessThePose.Five_TakePhotoToGuessPose" />
        <activity android:name=".Desktop_simulation" />
        <activity android:name=".WorldOneCollectLemon.One_ExplainTrainingData" />
        <activity android:name=".GuessThePose.Five_TrainStand" />
        <activity android:name=".GuessThePose.Five_TrainCrouch" />
        <activity android:name=".WorldOneCollectLemon.One_Rules" />
        <activity android:name=".WorldTwoCollectEgg.Two_Rules" />
        <activity android:name=".GuessThePose.Five_Test_Accuracy" />
        <activity android:name=".GuessThePose.Five_Add_Data" />
        <activity android:name=".GuessThePose.SeeAccuracy"></activity>
    </application>

</manifest>